.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 60px;
	overflow-y: visible;
	background-color: black;
}

.logo {
	background-color: var(--main-bg-color);
	height: 100%;
}

.logo:hover {
	background-color: var(--header-hover-color);
}

.header nav {
	width: 60%;
}

.header nav ul {
	width: 100%;
	height: 100%;
	font-size: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 100%;
}

.left svg {
	fill: white;
	display: none;
}

.right {
	color: white;
	display: flex;
	font-size: 20px;
	justify-content: space-evenly;
	align-items: center;
	width: 10%;
	height: 100%;
}

.right ul {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.right ul li {
	display: flex;
	align-items: center;
}

.right ul li span {
	align-self: flex-start;
	text-align: center;
	background-color: var(--main-bg-color);
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.right svg {
	fill: white;
	width: 40px;
	height: 40px;
}

.account,
.info {
	background-color: black;
	display: flex;
	align-self: flex-end;
	z-index: 999;
	flex-direction: column;
}

.info {
	margin-top: 50px;
}

.account li,
.info li {
	width: 100%;
	display: flex;
	justify-content: center;
}

.account li svg:hover,
.info li svg:hover {
	background-color: var(--header-hover-color);
	border-radius: 50%;
}

.account li:nth-child(2),
.account li:nth-child(3) {
	display: none;
}

.info li:nth-child(2),
.info li:nth-child(3) {
	display: inline;
	text-align: center;
	padding-inline: 10px;
}

.info li:nth-child(3):hover {
	cursor: pointer;
	text-decoration: underline;
}

.sidebar {
	height: 100vh;
	width: 250px;
	background-color: black;
	position: fixed;
	z-index: 999;
	display: inline;
}

.sidebar nav {
	height: 30%;
}

.sidebar nav ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar nav ul li {
	display: flex;
	justify-content: space-between;
}

.close {
	fill: white;
}

.hidebar {
	display: none;
}

/* Super Small Mobile */
@media (max-width: 300px) {
	.logo {
		width: 35px;
	}
	.left,
	.right {
		width: 50%;
	}
	.left {
		justify-content: space-evenly;
	}
	.left svg {
		display: block;
	}
	.left nav {
		display: none;
	}
	.right {
		font-size: 15px;
		justify-content: flex-end;
	}
	.right svg {
		width: 30px;
		height: 30px;
	}

	.sidebar {
		width: 100%;
	}
	.sidebar nav ul {
		font-size: 40px;
	}
}

@media (min-width: 301px) and (max-width: 400px) {
	.left,
	.right {
		width: 50%;
	}
	.left {
		justify-content: space-evenly;
	}
	.left svg {
		display: block;
	}
	.left nav {
		display: none;
	}
	.right {
		font-size: 15px;
		justify-content: flex-end;
	}
	.right svg {
		margin-right: 10px;
	}
	.right ul li span {
		margin-left: -10px;
		width: 20px;
		height: 20px;
	}
	.sidebar {
		width: 100%;
	}
	.sidebar nav ul {
		font-size: 40px;
	}
}

/* Mobile */
@media (min-width: 401px) and (max-width: 700px) {
	.left,
	.right {
		width: 50%;
	}
	.left {
		justify-content: flex-start;
	}
	.left svg {
		display: inline;
	}
	.left nav {
		display: none;
	}
	.right {
		font-size: 18px;
		justify-content: center;
	}
	.right svg {
		margin-right: 10px;
	}
	.right ul li span {
		margin-left: -10px;
		width: 23px;
		height: 23px;
	}
	.sidebar nav ul {
		font-size: 30px;
	}
	.close {
		width: 40px;
		height: 40px;
	}
}

/* Tablets and Small Desktops */
@media (min-width: 701px) and (max-width: 1120px) {
	.left {
		width: 85%;
	}
	.right {
		width: 15%;
	}
}
