.container {
	margin-top: 180px;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.container select,
.container button {
	font-family: "Copperplate", fantasy;
	border-radius: 10px;
}

.container select {
	background-color: var(--item-hover-color);
	font-size: 1rem;
}

.container button {
	width: 10ch;
	font-size: 1.5rem;
	color: var(--main-bg-color);
	background-color: black;
	border: none;
}

.container button:hover {
	color: black;
	background-color: var(--main-bg-color);
	cursor: pointer;
}

@media (max-width: 500px) {
	.container {
		margin-block: 1.25rem;
	}
}

@media (min-width: 501px) and (max-width: 700px) {
	.container {
		margin-block: 1rem;
	}
}
