.card {
	display: flex;
}

.card:hover {
	background-color: var(--item-hover-color);
}

.info {
	align-self: flex-end;
}

.info a {
	color: var(--main-bg-color);
}

.info a:visited {
	color: var(--offset-color);
}
