.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	min-height: 100vh;
	width: 100%;
	font-family: "Copperplate", fantasy;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.products {
	display: grid;
	row-gap: 3rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: 100%;
	height: 90%;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
	width: 120px;
	height: 50px;
}

.active,
.inactive {
	width: 50px;
	height: 100%;
	font-size: 40px;
}

.active {
	background-color: black;
	border: 1px solid black;
	color: var(--main-bg-color);
}

.active:hover {
	background-color: var(--main-bg-color);
	color: black;
	cursor: pointer;
}

.inactive {
	background-color: var(--arrow-hover-color);
	color: var(--offset-color);
	border: 1px solid var(--arrow-hover-color);
}

@media (max-width: 700px) {
	.products {
		grid-template-columns: repeat(2, 1fr);
	}
	.container {
		overflow-y: scroll;
	}
	.buttons {
		margin-top: 150px;
	}
}

@media (min-width: 701px) and (max-width: 1120px) {
	.products {
		grid-template-columns: repeat(3, 1fr);
		height: 100%;
	}
	.container {
		overflow-y: scroll;
		scrollbar-width: none;
	}
	.buttons {
		margin-top: 200px;
		width: 140px;
	}
	.active,
	.inactive {
		width: 65px;
	}
}
