.main {
	display: flex;
	flex-direction: column;
	background-color: white;
	min-height: 100svh;
	width: 100%;
	font-family: "Copperplate", fantasy;
}

.container {
	display: flex;
	justify-content: center;
}

.holder {
	display: grid;
	grid-template-columns: repeat(2, 500px);
	max-width: 1000px;
	border-left: 4px solid black;
	border-right: 4px solid black;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right h1 {
	font-size: 4rem;
	text-align: center;
	color: var(--main-bg-color);
}

.right h2 {
	font-size: 2.5rem;
	margin-bottom: 10rem;
}

.right p {
	font-size: 1.5rem;
	max-width: 80%;
}

@media (max-width: 500px) {
	.holder {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		border: none;
	}

	.right h1 {
		font-size: 3rem;
	}

	.right h2 {
		margin-bottom: 1rem;
	}
}

@media (min-width: 501px) and (max-width: 700px) {
	.holder {
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr;
	}

	.right h2 {
		margin-bottom: 1.5rem;
	}
}

@media (min-width: 701px) and (max-width: 1120px) {
	.main {
		justify-content: space-between;
	}
	.holder {
		grid-template-columns: repeat(2, 1fr);
		border: none;
	}
}
