.container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: white;
	width: 120px;
	height: 30px;
	border-radius: 10px;
}

.container input {
	border: none;
	width: 90px;
	height: 30px;
	border-radius: 10px;
	font-size: 1rem;
}

.container input:focus {
	outline: none;
}

.icon {
	background-color: white;
	transform: rotate(90deg);
}

@media (max-width: 300px) {
	.container {
		width: 60px;
	}
	.icon {
		width: 15px;
		height: 15px;
		margin-left: 4px;
	}
}

@media (min-width: 301px) and (max-width: 700px) {
	.icon {
		width: 15px;
		height: 15px;
		margin-left: 2px;
	}
	.container {
		width: 80px;
		margin-left: 10px;
	}
	.container input {
		width: 65px;
	}
}
